@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #370002 url("../../images/selvie-wonder-back.jpg") no-repeat center center scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	border-style: none;
	border-color: #000000;
	background: transparent url("../../images/selvie-wonder-merged-page-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../../images/selvie-wonder-merged.jpg") no-repeat center center;
	background-color: transparent;
	background-size: contain !important;
}

#page_position_content
{
	margin-bottom: 4px;
}

#u177-4
{
	z-index: 2;
}

#u175
{
	z-index: 15;
	width: 380px;
	min-height: 178px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-top: 124px;
}

#u191
{
	z-index: 6;
	width: 380px;
	margin-top: 82px;
}

#u189-4
{
	z-index: 7;
	margin-right: -10000px;
}

#u190-4
{
	z-index: 11;
	margin-right: -10000px;
	margin-top: 66px;
}

#page .verticalspacer
{
	clear: both;
}

