.html
{
	background: #370002 url("../images/selvie-wonder-back.jpg") no-repeat center center scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 479.7500000000002px;
	border-style: none;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px 0px;
	background: transparent url("../images/selvie-wonder-merged-page-fr3.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../images/selvie-wonder-merged.jpg") no-repeat center center;
	background-color: transparent;
	background-size: contain !important;
}

#pu169-4
{
	width: 0.01px;
	position: relative;
}

#u169-4
{
	z-index: 2;
	margin-right: -10000px;
	left: 210px;
}

#u173
{
	z-index: 15;
	width: 920px;
	min-height: 216px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
}

#u185
{
	z-index: 16;
	width: 350px;
	padding-bottom: 0px;
	margin-left: 285px;
	margin-top: 16px;
	position: relative;
}

#u183
{
	z-index: 18;
	width: 290px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 30px;
	position: relative;
}

#u181
{
	z-index: 17;
	width: 350px;
	min-height: 178px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u170
{
	z-index: 6;
	width: 548px;
	margin-left: 193px;
}

#u171-4
{
	z-index: 7;
	margin-right: -10000px;
	left: 70px;
}

#u172-4
{
	z-index: 11;
	margin-right: -10000px;
	margin-top: 81px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

