.html
{
	background: #370002 url("../images/selvie-wonder-back.jpg") no-repeat center center scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 532px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 80px 1px;
}

#u202-4
{
	z-index: 2;
	margin-left: 150px;
}

#u213
{
	z-index: 15;
	width: 800px;
	top: -8px;
	margin-bottom: -8px;
}

#u199
{
	z-index: 6;
	width: 548px;
	margin-left: 126px;
}

#u201-4
{
	z-index: 7;
	margin-right: -10000px;
	left: 70px;
}

#u200-4
{
	z-index: 11;
	margin-right: -10000px;
	margin-top: 81px;
}

#u235-8
{
	z-index: 33;
	width: 505px;
	min-height: 146px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: black-ops-one, sans-serif;
	font-weight: 400;
	margin-left: 136px;
	margin-top: 33px;
	position: relative;
}

#u250
{
	z-index: 55;
	width: 676px;
	margin-left: 50px;
	position: relative;
}

#u225
{
	z-index: 56;
	width: 676px;
	min-height: 216px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u249
{
	z-index: 57;
	width: 336px;
	margin-left: 170px;
	margin-top: 17px;
	position: relative;
}

#u245
{
	z-index: 59;
	width: 138px;
	min-height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u247
{
	z-index: 60;
	width: 42px;
	min-height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 138px;
}

#u243
{
	z-index: 58;
	width: 152px;
	min-height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 184px;
}

#u240-14
{
	z-index: 41;
	width: 568px;
	min-height: 138px;
	text-align: center;
	margin-left: 100px;
	margin-top: 17px;
	position: relative;
}

#u257
{
	z-index: 17;
	width: 231px;
	margin-left: 284px;
}

#u252
{
	z-index: 18;
	width: 61px;
	margin-left: 85px;
}

#u252_img
{
	padding-bottom: 1px;
}

#u254-6
{
	z-index: 20;
	width: 231px;
	min-height: 16px;
	margin-top: 8px;
}

#u256-7
{
	z-index: 26;
	width: 231px;
	min-height: 16px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

