#u202-4,#u201-4,#u200-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u213,#u199,#u257,#u252
{
	position: relative;
}

#u254-6,#u256-7
{
	text-align: center;
	font-size: 10px;
	line-height: 12px;
	position: relative;
}

